@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

h1, input, button {
    font-family: 'Anonymous Pro', monospace;
}
